.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include adaptive-size(width, 735, 290);
	@include adaptive-size(height, 424, 288);

	background: #fff;
	border-radius: 8px;

	@media (max-width: 750px) {
		margin-top: 123px;
	}
}

.img {
	background-color: $orange;
	border-radius: 79px;

	margin-bottom: 24px;
	padding: 24.5px 19.5px;
}

.title {
	text-transform: uppercase;
	font-weight: 500;

	@include adaptive-font(40, 20);
	line-height: 120%;

	margin-bottom: 20px;
}

.subtitle {
	color: $grayBlue;
	font-weight: 300;
	@include adaptive-font(20, 12);
	line-height: 120%;

	text-align: center;
	@include adaptive-size(width, 521, 197);
}

.cross {
	position: absolute;

	@include adaptive-size(top, 36, 16);
	@include adaptive-size(right, 36, 16);

	cursor: pointer;

	padding: 5px;
}
