.wrapper {
	position: relative;

	width: 1366px;
	height: 600px;
	margin: 0 $mainPadding;

	margin-bottom: 100px;
}

.info {
	position: absolute;
	top: 30px;
	left: 30px;

	color: $grayBlue;

	border-radius: 8px;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(15px);

	padding: 60px 94px 70px 50px;
}

.title {
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;

	margin-bottom: 15px;
}

.subtitle {
	font-weight: 300;
	font-size: 20px;
	line-height: 120%;

	margin-bottom: 25px;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 71px;
	row-gap: 25px;

	> li {
		&:nth-child(1),
		&:nth-child(2) {
			border-bottom: 1px dashed rgba($color: $grayBlue, $alpha: 0.2);
			padding-bottom: 25px;
		}
	}
}

.listElTitle {
	color: $black;
	font-weight: 700;
	font-size: 14px;
	line-height: 130.02%;

	margin-bottom: 10px;
}

.listElSubtitle {
	display: flex;
	align-items: center;
	gap: 13.33px;

	> p {
		max-width: 237px;
		font-weight: 400;
		font-size: 14px;
		line-height: 130.02%;
	}
}

.listElMove {
	margin-left: 30px;
}

.listElSubtitleInnerWrapper {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
