.main {
	display: flex;
	align-items: center;
	justify-content: center;

	@include adaptive-padding(30, 277, 15);
	//padding: 30px $mainPadding;
}

.container {
	background-color: rgba($color: $orange, $alpha: 0.5);
	border-radius: 10px;
	padding: 20px 0 0 0;
}

.title {
	text-align: center;

	@include adaptive-font(30, 26);
	font-weight: 500;
	letter-spacing: 0.5px;

	margin-bottom: 20px;
}

.list {
	> li {
		display: flex;
		cursor: pointer;

		&:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		&:hover {
			background-color: #ffc85e;
		}

		> a {
			width: 100%;
			text-align: center;

			//padding: 0 120px;
			@include adaptive-size(padding-top, 20, 10);
			@include adaptive-size(padding-bottom, 20, 10);
			@include adaptive-size(padding-right, 120, 80);
			@include adaptive-size(padding-left, 120, 80);
			color: #000;
		}
	}
}
