.wrapper {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	white-space: nowrap;

	border: none;

	font-family: Inter;
	font-weight: 700;
	font-size: 14px;
	color: #fff;

	background-color: $orange;
	border-radius: 79px;
	cursor: pointer;

	padding: 21px 54px;

	&:hover {
		background-color: #ffb219;
	}
}
