.wrapper {
	display: flex;
	align-items: center;

	cursor: pointer;
}

.info {
	white-space: nowrap;
	line-height: 120%;
	> p {
		&:nth-child(1) {
			color: $grayBlue;
			font-weight: 300;
			font-size: 12px;
		}

		&:nth-child(2) {
			color: $black;
			font-weight: 600;
			font-size: 14px;
		}
	}
}
