.wrapper {
	display: inline-block;
	align-self: flex-start;
	position: relative;
}

.input {
	background-color: #ededed;

	border-radius: 36px;
	border: none;

	font-family: Inter;
	font-size: 12px;

	width: 263px;
	padding: 20px;

	&::placeholder {
		color: rgba($color: #5c6370, $alpha: 0.6);
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;
}

.icon {
	position: absolute;
	right: 10px;
	top: 8px;

	width: 40px;
	height: 40px;

	background-color: $orange;
	border-radius: 100%;

	cursor: pointer;
	padding: 10px;
}

.error {
	font-size: 14px;
	white-space: nowrap;
	color: rgb(216, 35, 35);

	margin-top: 10px;
}
