.wrapper {
	display: none;

	@media (max-width: 1070px) {
		display: block;
	}
}

.burger {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $orange;
	border-radius: 100%;

	aspect-ratio: 1 / 1;
	@include adaptive-size(width, 42, 32);

	margin-right: 15px;

	cursor: pointer;

	@media (max-width: 539px) {
		margin-right: 0;
	}

	> span {
		position: absolute;

		background-color: #fff;

		//width: 20px;
		@include adaptive-size(width, 20, 14);
		height: 2px;

		transition: transform 0.3s;

		&::before {
			content: '';
			position: absolute;
			//top: -6px;

			@include adaptive-size(top, -6, -5);
			width: inherit;
			height: inherit;
			background-color: inherit;

			transition: transform 0.3s;
		}

		&::after {
			content: '';
			position: absolute;
			//top: 6px;

			@include adaptive-size(top, 6, 5);
			width: inherit;
			height: inherit;
			background-color: inherit;
		}
	}
}

.active {
	> span {
		transform: rotate(45deg);

		&::before {
			transform: rotate(-90deg) translate3d(-6px, 0, 0);
		}

		&::after {
			display: none;
		}
	}
}
