.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	margin-bottom: 20px;
}

.listWrapper {
	border-bottom: 1px dashed rgba($color: $grayBlue, $alpha: 0.3);
	padding-bottom: 5px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;

	margin-bottom: 15px;

	> li {
		display: flex;
		align-items: center;
		gap: 10px;
		> label {
			color: $grayBlue;
			font-weight: 400;
			font-size: 14px;

			cursor: pointer;
		}
	}
}
