.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgba($color: $grayBlue, $alpha: 0.2);

	@include adaptive-padding(14, 277, 60, 1154);
}

.leftSideMenu {
	display: flex;

	> li {
		display: flex;
		align-items: center;
		gap: 15px;

		border-right: 1px dashed rgba(0, 0, 0, 0.05);
		//padding: 0 20px;

		@include adaptive-padding(0, 20, 11, 1134);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}

	@media (max-width: 1000px) {
		margin-left: 15px;
	}

	@media (max-width: 579px) {
		display: none;
	}
}

.title {
	font-weight: 600;
	font-size: 14px;
	line-height: 130.02%;
}

.subtitle {
	color: $grayBlue;
	font-weight: 300;
	font-size: 12px;
}

.navbar {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 150%;

	@media (max-width: 1070px) {
		display: none;
	}

	a {
		color: $grayBlue;
		@include adaptive-padding(0, 30, 13, 1154);

		border-right: 1px dashed rgba($color: $grayBlue, $alpha: 0.01);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}
}

// Для админ-мода
.adminControls {
	position: relative;
}

.adminList {
	position: absolute;
	top: 30px;
	background-color: $orange;
	border-radius: 6px;

	animation: adminListShow 0.3s;

	z-index: 1;

	> li {
		color: #fff;
		font-weight: 600;
		white-space: nowrap;
		padding: 5px 10px;
		cursor: pointer;

		&:first-child {
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
		}

		&:last-child {
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		&:hover {
			background-color: #ffaa00;
		}
	}
}

.adaptiveAdminList {
	top: 65px;
	right: 20px;

	@media (max-width: 579px) {
		right: auto;
		left: 10px;
	}
}

.miniHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > *:not(:first-child, :nth-child(2)) {
		display: none;
	}

	@media (min-width: 1071px) {
		display: none;
	}

	@media (max-width: 539px) {
		display: flex;
		justify-content: start;

		width: 100%;
		padding: 0 15px;
	}
}

.logo {
	aspect-ratio: 7 / 3;
	@include adaptive-size(width, 156, 97);
}

.adminButton {
	color: #fff;
	font-weight: 800;
	background-color: rgba(255, 30, 30, 0.722);
	border-radius: 100%;

	cursor: pointer;

	margin-right: 10px;
	padding: 8px 12px;

	@media (max-width: 579px) {
		margin-left: 10px;
	}

	@media (max-width: 539px) {
		margin-left: 0;
	}
}

@keyframes adminListShow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
