.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgba($color: $grayBlue, $alpha: 0.2);

	padding: 14px $mainPadding;
}

.leftSideMenu {
	display: flex;

	> li {
		display: flex;
		align-items: center;
		gap: 15px;

		border-right: 1px dashed rgba(0, 0, 0, 0.05);
		padding: 0 20px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}
}

.title {
	font-weight: 600;
	font-size: 14px;
	line-height: 130.02%;
}

.subtitle {
	color: $grayBlue;
	font-weight: 300;
	font-size: 12px;
}

.navbar {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 150%;

	a {
		color: $grayBlue;
		padding: 0 30px;
		border-right: 1px dashed rgba($color: $grayBlue, $alpha: 0.01);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}
}

// Для админ-мода
.adminControls {
	position: relative;
}

.adminList {
	position: absolute;
	top: 30px;
	background-color: $orange;
	border-radius: 6px;

	animation: adminListShow 0.3s;

	z-index: 1;

	> li {
		color: #fff;
		font-weight: 600;
		white-space: nowrap;
		padding: 5px 10px;
		cursor: pointer;

		&:first-child {
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
		}

		&:last-child {
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		&:hover {
			background-color: #ffaa00;
		}
	}
}

@keyframes adminListShow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
