@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
	background-color: rgba($color: $orange, $alpha: 0.4);
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: $orange;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	outline: none;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: Inter;
	color: $black;
	background-color: #fefefe;
}

a {
	color: $grayBlue;
}

.title {
	@include adaptive-font(40, 20);
	line-height: 120%;
	text-transform: uppercase;
	font-weight: 500;

	> span {
		color: $orange;
		font-weight: 800;
	}
}

.subtitle {
	color: $grayBlue;
	font-weight: 300;
	@include adaptive-font(20, 14);
	line-height: 120%;

	margin-bottom: 50px;
}
